/* Black & grey*/
$grey100: hsl(0, 0%, 96%);
$grey200: hsl(0, 0%, 50%);
$grey300: hsl(0, 0%, 20%);
$black: hsl(0, 0%, 0%);

/* Colors */
 $primary: #F27A54;
 $secondary: #A154F2;
 $tertiary: #6FCF97;
 