@import './styles/fonts.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include secondary-font-700;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.alert {
  &-danger {
    background-color: #f0c7c7;
    padding: 10px;
  }
}
