.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news {
  &-container {
    width: 400px;
    margin: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  }

  &-img {
    max-height: 200px;
    max-width: 350px;
    margin: 20px;
  }
}

.alert {
  &-danger {
    background-color: #f0c7c7;
    padding: 10px;
  }
}
